In [21]:


import pandas as pd
import math
import re
NaN = float("NaN")
booksOG = pd.read_csv('./books.csv')
books = pd.read_csv('./books.csv', usecols =["Identifier", "Place of Publication", "Date of Publication", "Publisher", "Title", "Author", "Contributors", "Flickr URL"])
bookslen = len(books["Identifier"]) 
#books2 = booksOG.drop(['Edition Statement','Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Issuance type', 'Shelfmarks'], axis=1)
books2 = books['Date of Publication'].replace(to_replace = '.*\?.*', value = '?', regex = True)
dates = books2.str.extract(r'(\d{4})', expand = False)
books['Date of Publication'] = dates
books['Date of Publication'] = books['Date of Publication'].fillna(0).astype('int')
#books['Place of Publication'] = 
#print(books)
uni = pd.read_csv("./uniplaces.csv")
uni[:10]

     State            City                          School
0  Alabama         Auburn                Auburn University
1  Alabama       Florence      University of North Alabama
2  Alabama   Jacksonville    Jacksonville State University
3  Alabama     Livingston       University of West Alabama
4  Alabama     Montevallo         University of Montevallo
5  Alabama           Troy                  Troy University
6  Alabama     Tuscaloosa            University of Alabama
7  Alabama     Tuscaloosa                 Stillman College
8  Alabama     Tuscaloosa                    Shelton State
9  Alabama       Tuskegee              Tuskegee University

In [20]:
#Change the uniplaces.txt to uniplaces.csv, not 100% accurate since the txt isn't 100% right
import re
f = open("./uniplaces.txt", 'r')
lines = f.readlines()
f.close()
state=""
city=""
school=""
file = open("./uniplaces.csv", 'w')
file.write("State")
file.write(", ")
file.write("City")
file.write(", ")
file.write("School")
file.write("\n")
for line in lines:
    statematch = re.search("^\w*\[edit]", line)
    if (statematch):
        state=""
        for item in line:
            if item == "[":
              break
            state+=item
    else:
        paren=0
        schoolFlag=False
        for item in line:
            if item =="(":
                schoolFlag=True
                continue
            if item == ")" or item=="[": #occasionally there is not end parenthesis
                file.write(state)
                file.write(", ")
                file.write(city)
                file.write(", ")
                file.write(school)
                file.write("\n")
                schoolFlag=False
                city=""
                school=""
                break
            if schoolFlag:
                if item == ",": #multiple colleges in same city
                    file.write(state)
                    file.write(", ")
                    file.write(city)
                    file.write(", ")
                    file.write(school)
                    file.write("\n")
                    school=""
                    continue
                school+=item
            else:
                if(item == ","):
                    city+="-"
                    continue
                city+=item
file.close()

#####